<div class="container">
  <!-- <h1>< (t'faq.h1')%></h1> -->
  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="row row-centered">
      <div class="col-centered">
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title" style="text-align: center;"><%= (t'faq.edit') %></h3>
          </div>
          <div class="panel-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
