<h1>Users Index page</h1>
<div class="container">
  <h3>The columns titles are merged with the filters inputs thanks to the placeholders attributes</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
        <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter">
            <span class="glyphicon glyphicon-filter"></span>
            Filter</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr class="filters">
            <th><input type="text" class="form-control" placeholder="#" disabled></th>
            <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
            <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
            <th><input type="text" class="form-control" placeholder="Username" disabled></th>
          </tr>
        </thead>
        <tbody>
          <%= render 'user' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
