<div class="containers">
  <h2 class="header-titles"><%=(t'message.title') %></h2><br/>
  <%= render partial: "app/#{ENV['APP_NAME']}/alerts" %>
  <div class="pagination">
    <div class="page_info">
      <%= page_entries_info @user_messages %>
    </div>
    <%= will_paginate @user_messages, :container => false %>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
