<div class="jumbotron" style="margin-top: 20px">
  <h2><%= @user_message.title%></h2>
  <p><%= auto_link(@user_message.body, html: {target: '_blank'}) %></p>
  <%= link_to "Back", user_messages_path, class: "btn btn-primary" %>
</div>
