<div class="containers">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "app/alert_details" %>
      </div>
    </div>
    <div class="panel panel-default">
      <%= link_to "Back", user_messages_path, class: "btn btn-success"  %>
    </div>
  </div>
</div>
