<!-- Code here is used to build the map by google-maps-for-rails-->
<div class="container" id="gmap">
  <div class="col-md-9" id="agency-lookup padding-resize">
    <div class="">
      <!-- class="panel panel-info" -->
      <div class="panel-heading">
        <h1 class="panel-title"><%= (t'footer.organizations')%></h1>
      </div>
      <div class="panel-body" id="padding-resize">

      </br>
        <div class="flex-row row">
        <%= render 'agency', obj: @agencies %>
        </div>

      <!-- end ul col-md-12 -->
      <div class="center">
        <%#= will_paginate %>
      </div>
      <%# render 'agency', obj: @agencies %>
      <div class="center">
        <%#= will_paginate %>
      </div>
      </div>
      <%#end panel-body%>
    </div>
    <%#end panel%>
  </div>
  <%# end col-md-9%>
</div>

<script type="text/javascript">
$(function() {
  $('.show-map').click(function(event){
    event.preventDefault();
    $('div#index-map').toggle();
    handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {},
      internal: {
        id: 'index-map'
      }
    }, function () {
      google.maps.event.trigger(handler, 'resize');
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

    });
  });
});
</script>

<!-- <h3>Agencies nearby </h3>
<ul>
<%# for agency in @agency.nearbys(20) do %>
  <li><%# link_to agency.address, location %> (<%# location.distance.round(2) %> miles)</li>
<%# end %>
</ul> -->
