<!-- Code here is used to build the map by google-maps-for-rails-->
<div class="container" id="gmap">
  <div class="col-md-9" id="agency-lookup padding-resize">
    <h1 id="organizations"><%= (t'footer.organizations')%></h1>
    <div class="">
      <!-- button -->
      <div class="col-md-pull-4">
        <div class="" data-toggle="buttons">
          <label class="btn btn-lg btn-default active show-map">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>
            <i class="fa fa-map"></i> Hide map
          </label>
          <label class="btn btn-lg btn-info show-map">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <i class="fa fa-map-marker"></i> Show map
          </label>
        </div>
          <div class="map-responsive" id="index-map" style='width: 100%; height: 350%;'></div>
      </div>
      <div class="panel-body" id="padding-resize">

      </br>
      <div class="flex-row row">
      <%= render 'agency', obj: @agencies %>
      </div>

      <!-- end ul col-md-12 -->
      <div class="center">
        <%#= will_paginate %>
      </div>
      <%# render 'agency', obj: @agencies %>
      <div class="center">
        <%#= will_paginate %>
      </div>
      </div>
      <%#end panel-body%>
    </div>
    <%#end panel%>
  </div>
  <%# end col-md-9%>
</div>

<script type="text/javascript">
$(function() {
  $('.show-map').click(function(event){
    event.preventDefault();
    $('div#index-map').toggle();
    handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {},
      internal: {
        id: 'index-map'
      }
    }, function () {
      google.maps.event.trigger(handler, 'resize');
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

    });
  });
});
</script>
