<div class="container">
  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="panel-title"><%= "Edit " + @agency.name.capitalize %></div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
      </div> 
      <div class="panel-body">
        <%= render 'form' %>
        <%= link_to (t'buttons_t.back'), agencies_path, class: 'btn btn-primary' %>
      </div> <%#end panel-body%>
    </div> <%# end of panel-info div%>
  </div> <%# end of titlebox %>
</div> 
