<div class="container">
  <h1 class="text-center" style="margin-top: 45px;"><%= (t'edit_page.h1')%></h1>

  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="panel-title" style="display: flex; align-items: center;justify-content: center;"><%= @agency.name.capitalize %></div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
