<p>
  <strong>Name:</strong>
  <%= @agency.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agency.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @agency.city %>
</p>

<%= link_to '<- Back', agencies_path %>
