<% content_for :title do %>About<% end %>
<div class="jumbotron col-lg-10 center">
    <h1><%= t'about_page.h1' %></h1>
    <h2><%= t'about_page.h2' %></h2>
    <p>The Farmworker Institute is a project of the Farmworker Ministry Committee of the North Carolina Council of Churches, 
    a group that creates educational materials, presents public forums, 
    and brings together farmworker advocates to share strategies to improve farmworker conditions in North Carolina.</p>
    <p><%= link_to "Learn more about SAF", 'http://www.saf-unite.org/', class: 'btn btn-primary btn-lg' %></p>
</div>
