<div class="container">
  <div class="row">
    <% content_for :title do %><%= (t'nav_links.about')%> | Conectate Carolina <% end %>
    <div class="jumbotron">
      <h1> ConectateCarolina</h1>
      <p id="about-page"><%= (t'home_page.title') + " " + (t'about_page.text')%> <a href="http://www.saf-unite.org/">Student Action
          with Farmworkers</a> & <a href="https://www.codethedream.org/">Code the Dream.</a></p>
    </div>
  </div>
</div>
