<% content_for :title do %>About<% end %>
<p>
<h1>Resource Directory for Farmworker Advocates </h1>

<h2> Listing of Services for Migrant and
Seasonal Farmworkers in North Carolina</h2>
<h4>by The Farmworker Institute</h4>
Revised August 2000 and January 2009
<p>The Farmworker Institute is a project of the Farmworker Ministry Committee of the North Carolina Council of
Churches, a group that creates educational materials, presents public forums, and brings together farmworker
advocates to share strategies to improve farmworker conditions in North Carolina. The FMC committee meets
on the second Thursday morning of each month at the office of the NC Council of Churches in Raleigh, NC.</p>
<p>This resource guide can be accessed online at: www.ncfarmworkers.org where it is periodically updated.</p>

<p>For more information about the Farmworker Institute or for additional copies of this resource, contact:</p>
<p>Chris Liu-Beers</br>
NC Council of Churches</br>
1307 Glenwood Ave., Ste. 156</br>
Raleigh, NC 27605</br>
(919) 828-6501 voice</br>
(919) 828-9697 fax</br>
cbeers@nccouncilofchurches.org</br>
www.ncfarmworkers.org</br></p>

<p>A special thank you to Becky Straub and Mary Johnson Rockers, consultants with the North Carolina
Farmworker Health Program, Office of Rural Health and Community Care, for editing and revising this
document. Thanks to Tony Macias of Student Action with Farmworkers for formatting and designing the
booklet.
Funding for this publication was provided by the Duke Endowment
Note: “MSFW” is used throughout this publication as an acronym for Migrant and Seasonal Farmworker.</p>
