<% content_for :title do %><%= (t'nav_links.about')%> | Conectate Carolina <% end %>
<div class="form-horizontal min-height">
  <h1> Conectate Carolina</h1>
    <p id="about-page"><%= (t'about_page.text')%> <a href="https://www.codethedream.org/">Code the Dream</a> &
      <a href="http://www.saf-unite.org/">Student Action
        with Farmworkers</a></p>

  <div class="logos" id="ctd">
    <%= link_to image_tag("CTDLogo.png"), "https://www.codethedream.org/" %>
  </div><br/>
  <div class="logos" id="saf">
    <%= link_to image_tag("SAFLogo1.png"), "http://www.saf-unite.org/" %>
  </div>
</div>
