<% content_for :title do %>About<% end %>
<p>
<h1>Resource Directory for Farmworker Advocates </h1>

<h2> Listing of Services for Migrant and
Seasonal Farmworkers in North Carolina</h2>

<p>The Farmworker Institute is a project of the Farmworker Ministry Committee of the North Carolina Council of Churches, a group that creates educational materials, presents public forums, and brings together farmworker advocates to share strategies to improve farmworker conditions in North Carolina.</p>