<section class="header-container">
  <%= render partial: "app/#{ENV['APP_NAME']}/header_container" %>
</section>

<div style="height: 250px">
  <h4 style="background-color: lightyellow; padding:0.5em 1em;">Organization update successfully submitted. An administrator will review your request.</h4>
</div>

<div>
  <p>Please, click <%= link_to "here", root_path %> to go to the homepage!</p>
</div>
