<div class="container" id="pages">
  <h2 class="page-heading">Póliza de Privacidad</h2>
  <p>Estudiantes en Acción con Campesinos (SAF) desarrolló Conéctate Carolina, una aplicación móvil gratuita. Este SERVICIO es proporcionado por Estudiantes en Acción con Campesinos en forma gratuita con la intención de ser utilizado de ese modo.</p>

  <p>Está página se utiliza para informar a los visitantes sobre nuestra póliza de recopilación, uso, y divulgación de Información Personal para los que decidan utilizar nuestro Servicio.</p>

  <p>Si usted elige utilizar nuestro Servicio, usted está de acuerdo en que recopilemos y usemos la información según esta póliza. La Información Personal que recopilamos se utiliza para proporcionar y mejorar el Servicio. No utilizaremos o compartiremos su información con nadie, excepto por lo descrito en esta Póliza de Privacidad.</p>

  <p>Los términos en esta Póliza de Privacidad tienen el mismo significado que en nuestros Términos y Condiciones, los cuales se pueden encontrar en Conéctate Carolina, a menos que se definan de otro modo en esta Póliza de Privacidad.</p>

  <p><strong>Recopilación y Uso de Información</strong></p>
  <p>Para tener una buena experiencia, mientras utilice nuestro Servicio, puede que requiramos que usted proporcione cierta información personal identificable, lo cual incluye, pero no se limita a su ubicación como sea identificada por su proveedor de GPS (sistema de posicionamiento global), su conexión wifi, y/o sus torres celulares.</p>

  <p>La información que solicitemos será conservada por nosotros y utilizada como se describe en esta Póliza de Privacidad.</p>

  <p>La aplicación utiliza servicios de terceros que pueden recopilar información utilizada para identificarlo a usted.</p>

  <div>
    <p>Enlace a la Póliza de Privacidad de empresas externas utilizadas por la aplicación:</p>
    <ul>
      <li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
    </ul>
  </div>

  <p><strong>Datos de registro</strong></p>
  <p>Queremos informarle que al usar nuestro Servicio, si hay un error en el funcionamiento de la aplicación, recopilamos datos e información (a través de terceros) en su teléfono, lo cual se le llama datos de registro. Estos datos de registro pueden incluir información como el Protocolo de Internet (IP), nombre de su móvil, versión de su sistema operativo, la configuración de la aplicación cuando utilice nuestro Servicio, la hora y fecha cuando usó el Servicio, y otras estadísticas.</p>

  <p><strong>Cookies</strong></p>
  <p>Los “cookies” son archivos con unos pocos datos que comúnmente se usan como identificador singular anónimo. Estos son enviados a su navegador por sitios web que usted visite y son guardados en la memoria interna de su móvil.</p>

  <p>Este Servicio no utiliza estas “cookies” deliberadamente. Sin embargo, es posible que la aplicación use código de terceros y colecciones que usan “cookies” para recopilar información y mejorar sus servicios. Usted tiene la opción de aceptar o rechazar estas “cookies” y saber cuándo una de estas es enviada a su móvil. Si elige rechazar nuestras “cookies,” es posible que usted no pueda usar algunas partes de este Servicio.</p>

  <p><strong>Proveedores de servicios</strong></p>
  <p>Es posible que utilicemos empresas e individuos externos debido a las siguientes razones:</p>
  <ul>
    <li>Para facilitar nuestro Servicio;</li>
    <li>Para ofrecer el Servicio de parte nuestra;</li>
    <li>Para ofrecer actividades relacionadas con nuestro Servicio; o</li>
    <li>Para ayudarnos a analizar cómo se utiliza nuestro Servicio.</li>
  </ul>

  <p>Queremos informar a los usuarios de este Servicio que estas empresas externas tienen acceso a su Información Personal, lo cual es para realizar las tareas que les son designadas por parte nuestra. Sin embargo, se les requiere que no revelen o usen la información para cualquier otra razón.</p>

  <p><strong>Seguridad</strong></p>
  <p>Valoramos su confianza en proporcionarnos su Información Personal, por lo tanto nos esforzamos por usar medios comerciales aceptables para protegerla. Pero recuerde que ningún método de transmisión a través de internet, o de almacenaje electrónico es 100% seguro y fiable, y no podemos garantizar su seguridad absoluta.</p>

  <p><strong>Enlaces a otros sitios</strong></p>
  <p>Este Servicio puede contener enlaces a otros sitios. Si usted oprime un enlace de una empresa externa, será dirigido a ese sitio. Tome en cuenta que nosotros no manejamos esos sitios externos. Por lo tanto, le recomendamos encarecidamente que lea las Pólizas de Privacidad de esos sitios web. No tenemos control y no asumimos la responsabilidad por el contenido, pólizas de privacidad, o prácticas de cualquier sitio web o servicios de terceros.</p>

  <p><strong>Privacidad de menores</strong></p>
  <p>Estos Servicios no son dirigidos a ninguna persona que tenga menos de trece años de edad. No recopilamos información personal identificable intencionalmente de niñas/os menores de 13 años. En caso de descubrir que un/a niño/a menor de 13 años haya proporcionado su información personal, la borramos inmediatamente de nuestros servidores. Si usted es un padre/madre o tutor y sabe que su hijo/a nos ha proporcionado su información personal, por favor comuníquese con nosotros para tomar las acciones necesarias.</p>

  <p><strong>Cambios a esta Póliza de Privacidad</strong></p>
  <p>De vez en cuando es posible que actualicemos nuestra Póliza de Privacidad. De ese modo, le recomendamos que revise esta página regularmente para enterarse de cualquier cambio. Le avisaremos de cualquier cambio al publicar la nueva Póliza de Privacidad en esta página. Estos cambios tienen efecto inmediatamente después de ser publicados en esta página.</p>

  <p><strong>Comuníquese con nosotros</strong></p>
  <p>Si tiene cualquier pregunta o sugerencia sobre nuestra Póliza de Privacidad, no dude en comunicarse con nosotros al escribir a admin@saf-unite.org.</p>
</div>
