<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style media="screen">
      #my-style{ padding-left: 25px;}
    </style>
  </head>
  <body>
    <p id="my-style">Your organization information is updated!</p>
    <p id="my-style">Please contact us if you have any question or concern.</p><br/><br/>

    <%= link_to image_tag('SAFLogo1.png',  width: '250', height: '100'), 'https://saf-unite.org/'%>
    <p id="my-style"><a href="tel:(919) 660-3652">(919) 660-3652</a></p>
    <p id="my-style"><a href="https://saf-unite.org/">www.saf-unite.org</a></p>
  </body>
</html>
