<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style media="screen">
      #my-style{ padding-left: 25px;}
    </style>
  </head>
  <body>
    <p id="my-style">Your organization information is updated!</p>
    <p id="my-style">Please contact us if you have any question or concern.</p><br/>
  </body>
</html>
