<div class="logo-wrapper">
  <%= image_tag("covid_logo.png", :alt => "logo image") %>
  </div>
  <div class="header-text">
    <h2><%= (t'home_page.browse') %></h2>    </div>
</div>
<div class="farm-image">
  <%= image_tag("doctors-nurses.jpg", :alt => "tobacco field image") %>
</div>
