<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received the following email from <%= "#{@name}, #{@email}" %></h1>
    <h3>The message is:</h3>
    <p>
      <%= @body %>
    </p>
  </body>
</html>
