// Place all the styles related to the Agencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.individual-import {
  border-bottom: 2px solid lightgray;
  padding-bottom: 5px;
}

// .checkbox > label {
//   background-color: #FFBD33;
// }

.phones {
  // background-color: red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.phone-numbers {
  margin-left: 8px;
  margin-top: -5px;
}

#agency-attributes {
  font-size: 1.1em;
  font-style: italic;
}

p#agency-attributes {
  font-size: 1.1em;
  font-style: italic;
}
