/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome"; // main background color

main {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
// Flex

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .caption,
.flex-row .thumbnail {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}

.flex-text {
    flex-grow: 1;
}

.flex-row img {
    min-width: 0;
    width: 100%;
}
// Header index

h1 {

    color: #1f201f;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 38px;
    // margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(#636363, 0.61)
}
.jumbotron h1 {
  font-size: 42px;
}

 .row h2 {
  color: #1f201f;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 32px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(#515152, 0.8);
}

p {
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 auto 15px;
    max-width: 500px;
    text-align: left;
}

a {
    color: #E0792B;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

a:hover {
    color: #42393B;
}

// Makes button in About page to center
.center-block {
  float: none;
}

ul {
    padding: 0;
    list-style-type: none;
}
address {
  color: #292929;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0 auto 15px;
  max-width: 500px;
  text-align: left;
}
// top image index page
.top-background {
  background: image-url('farm_landscape.jpg');
  top: 90%;
  background-position: 50% 70%;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0px;
}
.top-background h1 {
  color: #13ba1a;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 38px;
  // margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  // margin-top: 160px;
  position: relative;
}
.top-background h2 {
  color: #13ba1a;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 32px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  position: relative;
}
#farm-background {
  opacity: 0.8;
}
.header {
  padding: 100px 10px 10px 10px;
  margin: auto;
  width: 99%;
}

.search {
  width: 90%;
  height: 50px;
  background: #ececec;
  position: absolute;
}

.search-form {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 95%;
  height: 80px;
}
@media screen and (max-width: 480px) {
  .top-background h1 {
    font-size: 36px;
    color: #f1f5f1;
    // margin-top: 100px;
  }
  .top-background h2 {
    font-size: 28px;
    color: #f1f5f1;
  }
  .search-form {
    width: 81%
  }
  .header {
    padding: 10px 0;
    margin: auto;
    width: 99%;
    padding: 5px;
  }
}

.index-search #search {
  display: block;
  width: 70%;
  height: 48px;
  float: left;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background: rgba(#f4f4f4, 0.71);
  color: #3e3b3b;
  font-family: "lato-regular",Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
}

.index-search button:hover {
  background: none;
}

input, select {
    vertical-align: middle;
}



#about-page {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 auto 48px;
    max-width: 600px;
    text-align: center;
}

#padding-resize {
    // left padding: justify;
    padding-left: 5px;
    padding-right: 5px;
}

#gmap {
    padding-left: 0;
    padding-right: 0;
}
/* Agency cards css */
.agency-name {
  text-align: center;
}
.agency-name strong a {
  font-size: 22px;
}
.agency-category {

}
.well-agency {
    padding: 10px;
    margin: 10px;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
}

.well-agency:hover {
    background: #fff;
}

.well-agency a {
    text-decoration: none;
}

.well-agency .lead {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
}

.well-agency img {
    border-radius: 50px;
    max-width: 100px;
    float: left;
    margin: 0 10px 10px 0;
}

.well-agency .lead {
    margin-top: 10px;
}

.well-agency hr {
    margin-top: 0;
    margin-bottom: 0;
    clear: both;
    padding-top: 10px;
}

.well {
    min-height: 250px !important;
    padding: 19px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
// navbar overide settings

.navbar-default {
    background-color: rgba(35, 122, 162, 0.9);
    border-color: #5e6f70;
}

.navbar-default .navbar-brand {
    color: #eef4f6;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #88391e;
}

.navbar-default .navbar-text {
    color: #eef4f6;
}

.navbar-default .navbar-nav > li > a {
    color: #eef4f6;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #88391e;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #88391e;
    background-color: #25ab76;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #88391e;
    background-color: #e9e9e9;
}

.navbar-default .navbar-toggle {
    border-color: #d0dbd7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(#267daf, 0.99);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #eef4f6;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #eef4f6;
}

.navbar-default .navbar-link {
    color: #eef4f6;
}

.navbar-default .navbar-link:hover {
    color: #88391e;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #eef4f6;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #88391e;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #88391e;
        background-color: #25ab76;
    }
}
//navbar home button

#logo {
    font-size: 1.4em;
}
// search

.search-input {
    margin-bottom: 10px;
}
//badge categories show

.badge {
    background-color: #1a4e35;
    font-weight: 300;
}

.input_checkbox input {
    width: auto !important;
}
// footer

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
//by Jorge, this make the map in the agencies/show view responsive to screen size

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

#show-map, #index-map {
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
}
#index-map {
  display: none;
}

.btn.active {
	display: none;
}

.btn span:nth-of-type(1)  {
	display: none;
}
.btn span:last-child  {
	display: block;
}

.btn.active  span:nth-of-type(1)  {
	display: block;
}
.btn.active span:last-child  {
	display: none;
}
// Form CSS

.register-form {
    font-size: 16px;
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton {
    height: 50px;
    width: 200px;
    background-color: tomato;
    border-radius: 0;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.regbutton:hover {
    color: white;
    background-color: #aa422f;
}

.regbutton:active {
    color: white;
    background-color: #aa422f;
}

.logbutton {
    height: 50px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 0;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.logbutton:hover {
    color: white;
    background-color: darkolivegreen;
}

.logbutton:active {
    color: white;
    background-color: darkolivegreen;
}

.register-form label {
    color: aliceblue;
}

.register-form input {
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0;
}
// bootsrap css
.panel-body {

}
////////// CSS for the styling of the FAQ page.////////////////

#faq_question {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 2em;
    color: blue;
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;
  }

#faq_answer {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: black;
}
