/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// main background color
main {
    background-color: rgba(22, 160, 133,1.0);
}

// Header index
h1 {
	color: #75C9BB;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 52px;
	margin-bottom: 24px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	color: #75C9BB;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 32px;
	margin-bottom: 14px;
	text-align: center;
	text-transform: uppercase;
  border-bottom: 3px solid #f5f5f5;
}

p {
	color: black;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	margin: 0 auto 24px;
	max-width: 500px;
	text-align: center;
}

a {
	color: #E0792B;	font-size: 18px;
	font-style: italic;
	text-align: center;
}

a:hover {
	color: #42393B;
}
//


.center {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

#about-page {
  color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto 48px;
	max-width: 600px;
	text-align: center;
}

#padding-resize {
  // left padding: justify;
  padding-left: 5px;
  padding-right: 5px;
}
#gmap {
  padding-left: 0px;
  padding-right: 0px;
}

/* Agency cards css */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.well-agency {
    padding: 10px;
    margin-bottom: 0;
    margin: 20px 0;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
}

.well-agency:hover {
    background: #fff;
}

.well-agency a {
    text-decoration: none;
}

.well-agency .lead {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
}

.well-agency img {
    border-radius: 50px;
    max-width: 100px;
    float: left;
    margin: 0 10px 10px 0;
}

.well-agency .lead {
    margin-top: 10px;
}

.well-agency hr {
    margin-top: 0;
    margin-bottom: 0px;
    clear: both;
    padding-top: 10px
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

// navbar overide settings
.navbar-default {
    background-color: #95a5a6;
    border-color: #7f8c8d;
}

.navbar-default .navbar-brand {
    color: #eef4f6;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #88391e;
}

.navbar-default .navbar-text {
    color: #eef4f6;
}

.navbar-default .navbar-nav>li>a {
    color: #eef4f6;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #88391e;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #88391e;
    background-color: #25ab76;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #88391e;
    background-color: #25ab76;
}

.navbar-default .navbar-toggle {
    border-color: #25ab76;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #25ab76;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #eef4f6;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #eef4f6;
}

.navbar-default .navbar-link {
    color: #eef4f6;
}

.navbar-default .navbar-link:hover {
    color: #88391e;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #eef4f6;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #88391e;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #88391e;
        background-color: #25ab76;
    }
}

//navbar home button
#logo {
    font-size: 1.4em;
}

// search
.search-input {
    margin-bottom: 10px;
}

//badge categories show
.badge {
    background-color: #CEF6F5;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.input_checkbox input {
    width: auto !important;
}

// footer
footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

//by Jorge, this make the map in the agencies/show view responsive to screen size
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
#map {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

// Form CSS
.register-form{
    font-size: 16px;
   left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton{
    height: 50px;
    width: 200px;
    background-color:tomato;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.regbutton:hover{
    color: white;
    background-color:#aa422f;
}
.regbutton:active{
    color: white;
    background-color:#aa422f;
}
.logbutton{
    height: 50px;
    width: 200px;
    background-color:yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.logbutton:hover{
    color: white;
    background-color:darkolivegreen;
}
.logbutton:active{
    color: white;
    background-color:darkolivegreen;
}



.register-form label{
    color: aliceblue;

}
.register-form input{
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
}


/*.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}*/
