/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome'; // main background color

$links_color: #337ab7;
$main_green: #2f4b26;
$links_color_hover: #aaa6a6;
$color_gray_text: #656b75;
$yellow_color: hsla(50.8235294117647, 100%, 50%, 1);
aaa6a6 html,
body {
	// height:100%;
	background-color: rgb(255, 255, 255);
	padding-top: 25px;
	background-size: contain;
}
//icon header of home page
.header-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	width: auto;
	background-color: #ededed;
}

.header-container::before {
	display: none;
}
.farm-image img {
	margin-top: 0px;
	min-height: 297px;
}
.logo-wrapper {
	width: 325px;
	margin: 0 auto;
}

.logo-wrapper img {
	margin-top: 20px;
}

.logo h2 {
	right: 25px;
}
.header-text {
	margin-top: 50px;
	color: #656b75;
}

#section2 {
	margin-top: 0px;
	color: #686868;
	background-size: cover;
}
#section3 {
	padding-top: 20px;
}

//styling for sub menu buttons container

.sub-menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#organizations {
	flex: 50%;
	color: $color_gray_text;
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 38px;
	margin-left: 40px;
	text-align: left;
}
.sub-menu-modal-links {
	text-align: center;
}

a {
	color: $links_color;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

a:hover {
	color: $links_color_hover;
	text-decoration: none;
}

.sidebar .panel {
	margin-top: 30px;
}

.flex-row {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}

.flex-row > [class*='col-'] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-row .caption,
.flex-row .thumbnail {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: 100%;
	position: relative;
}

.flex-text {
	flex-grow: 1;
}

.flex-row img {
	min-width: 0;
	width: 100%;
}

.header-titles {
	color: #1f201f;
	text-align: center;
	padding: 10px;
}

.jumbotron {
	background-color: #eee;
}

.jumbotron h1 {
	font-size: 42px;
}

#jumbotron {
	padding-top: 20px;
	margin-top: 75px;
	margin-left: 55px;
	margin-right: 55px;
}

.row h2 {
	color: #1f201f;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 32px;
	margin-bottom: 14px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 3px solid rgba(#515152, 0.8);
}

// Makes button in About page to center
.center-block {
	float: none;
}

ul {
	padding: 0;
	list-style-type: none;
}
address {
	color: #292929;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin: 0 auto 15px;
	max-width: 500px;
	text-align: left;
}

.nav > li > a {
	font-size: 16px;
}
// top image index page
.top-background h1 {
	color: #122112;
	font-size: 44px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 38px;
	// margin-bottom: 24px;
	text-align: center;
	// margin-top: 160px;
	position: relative;
}
.top-background h2 {
	color: whitesmoke;
	font-size: 38px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 36px;
	margin-bottom: 14px;
	text-align: center;
	margin-top: 50px;
	position: relative;
}

.header {
	padding: 40px 10px 10px 10px;
	margin: auto;
	width: 100%;
}

.min-height {
	min-height: 600px;
}

// Manual Changes when using a phone

@media screen and (max-width: 480px) {
	.top-background h1 {
		font-size: 42px;
		color: whitesmoke;
	}
	.top-background h2 {
		font-size: 28px;
		color: #1d1d1d;
		letter-spacing: 1px;
		margin-top: 35px;
	}
	.header {
		padding: 10px 0;
		margin: auto;
		width: 99%;
		padding: 5px;
	}
	.card address {
		text-align: center;
	}
	.well {
		text-align: center;
	}
}

// search

input#search,
input#location {
	display: block;
	// width: 70%;
	height: 40px;
	outline: none;
	margin: 0;
	margin-bottom: 10px;
	color: #222121;
	font-weight: 400;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 20px;
}

.index-search button:hover {
	background: none;
	line-height: 20px;
}

input,
select {
	vertical-align: middle;
}

#search-row {
	text-align: center;
}

#about-page {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto 48px;
	max-width: 600px;
	text-align: center;
}
/* Agency cards css */

.card address {
	font-size: 1.1em;
	font-style: italic;
}

.card p {
	font-size: 1.4em;
}

.row > col-xs-12 {
	padding: 0px;
}
.agency-name {
	text-align: center;
}
.agency-name strong a {
	font-size: 20px;
	color: $links_color;
}

.category {
	margin-bottom: 12px;
}

.category a {
	background: #e36419;
	padding: 7px 10px;
	color: white;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 4px;
}
.category a:hover {
	background: #e5712d;
}
.well-agency {
	padding: 10px;
	margin-right: 3px;
	margin-left: 3px;
}

.well-sm {
	padding: 9px;
	border-radius: 3px;
}

.well-agency:hover {
	background: #fff;
	box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 7px 0 rgba(0, 0, 0, 0.12);
}

.well-agency a:hover {
	color: $links_color_hover;
}

.well-agency .lead {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 22px;
	margin-top: 5px;
}

.well-agency img {
	border-radius: 50px;
	max-width: 100px;
	float: left;
	margin: 0 10px 10px 0;
}

.well-agency hr {
	margin-top: 0;
	margin-bottom: 0;
	clear: both;
	padding-top: 10px;
}

.well {
	min-height: 250px !important;
	padding: 15px;
	background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pb-2 {
	background-color: #FBFEDF;
}
// navbar overide settings

.navbar-default {
	background-color: $main_green;
}

.navbar-default .navbar-brand {
	color: #008752;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: $links_color_hover;
}

.navbar-default .navbar-text {
	color: $links_color;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: $links_color_hover;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	color: $links_color_hover;
	background-color: #25ab76;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color: $links_color_hover;
	background-color: #d0dbd7;
}

.navbar-default .navbar-toggle {
	border-color: #d0dbd7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: hsl(158, 47%, 79%);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $links_color_hover;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: $links_color_hover;
}

.navbar-default .navbar-link {
	color: $links_color_hover;
}

.navbar-default .navbar-link:hover {
	color: $links_color;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $links_color;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: $links_color_hover;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
		color: $links_color_hover;
		background-color: #25ab76;
	}
}
//navbar home button

#logo {
	font-size: 1.6em;
	font-weight: 500;
	color: #ffffff;
}
//badge categories show

.badge {
	background-color: #1a4e35;
	font-weight: 300;
}

.input_checkbox input {
	width: auto !important;
}

//by Jorge, this make the map in the agencies/show view responsive to screen size

.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

#show-map,
#index-map {
	border-width: 2px;
	border-style: solid;
	border-color: #ccc;
	-webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	-moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
}
#index-map {
	display: none;
}

.btn.active {
	display: none;
}

.btn span:nth-of-type(1) {
	display: none;
}
.btn span:last-child {
	display: block;
}

.btn.active span:nth-of-type(1) {
	display: block;
}
.btn.active span:last-child {
	display: none;
}
// Form CSS

.register-form {
	font-size: 16px;
	left: 50%;
	top: 50%;
	position: relative;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.regbutton {
	height: 50px;
	width: 200px;
	background-color: tomato;
	border-radius: 0;
	font-size: 18px;
	color: white;
	border: none !important;
	margin-bottom: 5px;
}

.regbutton:hover {
	color: white;
	background-color: #aa422f;
}

.regbutton:active {
	color: white;
	background-color: #aa422f;
}

.logbutton {
	height: 50px;
	width: 200px;
	background-color: yellowgreen;
	border-radius: 0;
	font-size: 18px;
	color: white;
	border: none !important;
	margin-bottom: 5px;
}

.logbutton:hover {
	color: white;
	background-color: darkolivegreen;
}

.logbutton:active {
	color: white;
	background-color: darkolivegreen;
}

.register-form label {
	color: aliceblue;
}

.register-form input {
	margin-bottom: 5px;
	width: 430px;
	height: 40px;
	border-radius: 0;
}

.close {
	font-size: 27px;
}

////////// CSS for the styling of the FAQ page.////////////////

.faq-title {
	color: #1f201f;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 38px;
	margin-top: 50px;
	text-align: center;
	//text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(#636363, 0.61);
}

.category_spacer {
	margin-top: 20px;
}
.break-links {
	/* These are technically the same, but use both */
	line-height: 25px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.logos1 {
	margin: 5px;
	border: 1px solid #ccc;
	width: 180px;
}

.faq_edit {
	font-size: 15px;
	// float: right;
}

.faq_question {
	padding: 10px;
	font-family: MuseoSlab-500;
	font-size: 2em;
	font-weight: bold;
	text-align: justify;
}

ul#faq_answer {
	padding-left: 50px;
	padding-right: 30px;
	list-style-type: disc;
	font-family: Helvetica Neue Light;
	font-size: 1.5em;
	color: #008752;
}

// Footer CSS
#myFooter {
	background-color: $main_green;
	color: white;
	padding-top: 30px;
}

#myFooter .footer-copyright {
	background-color: #333333;
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#myFooter .row {
	margin-bottom: 60px;
}

#myFooter .navbar-brand {
	margin-top: 45px;
	height: 65px;
}

#myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
}

#myFooter .footer-copyright p .privacy {
	font-size: 14px;
}

#myFooter ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
}

#myFooter h5 {
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}

#myFooter p {
	font-size: 14px;
	text-align: center;
	color: #fff;
	margin-top: 30px;
}

#myFooter a {
	color: #d2d1d1;
	text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
	text-decoration: none;
	color: white;
}

#myFooter .social-networks {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 16px;
}

#myFooter .social-networks a {
	font-size: 32px;
	color: #f9f9f9;
	padding: 10px;
	transition: 0.2s;
}

#myFooter .social-networks a:hover {
	text-decoration: none;
}

#myFooter .facebook:hover {
	color: #0077e2;
}

#myFooter .google:hover {
	color: #ef1a1a;
}

#myFooter .twitter:hover {
	color: #00aced;
}

#myFooter .btn {
	color: white;
	background-color: #d84b6b;
	border-radius: 20px;
	border: none;
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 25px;
}

@media screen and (max-width: 767px) {
	#myFooter {
		text-align: center;
	}
}

.logos {
	margin: 0 34% 0 34%;
	max-width: 325px;
}

.logo-container {
	display: grid;
	padding-top: 5%;
	grid-gap: 25%;
}

.mobile-app-links {
	background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}

.mobile-app-links p {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.mobile-apps {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
}

.mobile-app-links img {
	background-color: black;
	border-radius: 6px;
	max-width: 96%;
	vertical-align: middle;
	margin: 2px;
	height: 48px;

	main {
		height: 860px;
	}
}

/////Media Quires for new redesign ////////

@media (max-width: 1024px) {
	.btn-lg {
		margin-top: 20px;
	}
}

@media (max-width: 767px) {
	.header-container {
		display: grid;
		grid-template-columns: 1fr;
		width: auto;
	}
	.header-text {
		color: #656b75;
		width: auto;
		margin-left: 9px;
		margin-right: 9px;
	}

	.logo-wrapper img {
		margin-top: 25px;
		width: 350px;
		padding: 10px;
	}

	.btn-lg {
		margin-top: 20px;
	}
}

@media (max-width: 500px) {
	.header-container {
		display: grid;
		grid-template-columns: 1fr;
		width: auto;
	}
	.header-text {
		color: #656b75;
		width: auto;
		text-align: center;
	}
	.header-text h2 {
		font-size: 25px;
	}

	.logo-wrapper img {
		margin-top: 25px;
		width: 100%;
		padding: 10px;
		position: relative;
	}

	.btn-lg {
		margin-top: 20px;
	}
}

@media (max-width: 375px) {
	.container main {
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
	}

	main {
		width: 100% !important;
		overflow: hidden !important;
	}

	.header-container {
		display: grid;
		grid-template-columns: 1fr;
		width: auto;
		margin-bottom: 20px;
	}
	.header-text {
		margin-top: 10px;
		margin-bottom: 10px;
		color: #656b75;
		width: auto;
		text-align: center;
	}

	.farm-image img {
		min-height: 225px;
	}

	.btn-lg {
		margin-top: 20px;
	}
}

.panel-default {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 1px 1px rgba(204, 19, 19, 0);
}
