// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  margin: 0 10px 0 10px;
}

.message {
  background-color: white;
  padding: 5px;
  border-bottom: 1rem solid;
  border-radius: 3px;
}

.button_to {
  display: inline;
}
