// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  margin: 5px 10px 0 10px;
  display: flex;
}

.left {
  flex: 1;
}

.remove button {
  background-color: inherit;
  border: none;
}

.message {
  position: relative;
  background-color: white;
  border: 2px solid gray;
  box-shadow: .5px .5px 1px 1px lightgray;
}

.button_to {
  display: inline;
}

.pagination a {
  background-color: #fbf6ee;
  padding: 0 25px 0 25px;
}

#fa-triangle {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.msg-content {
  margin-left: 10px;
}

#icons {
  margin-left: 10px;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row1 {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: none;
}

.row1:hover {
  background-color: #D6DBDF;
}

#active-link {
  border: dotted 1px black;
}

.fa-icon-success {
  color: #4CAF50;
}

.fa-icon-info {
  color: #2196F3;
}

.fa-icon-warning {
  color: #ffeb3b;
}

.fa-icon-danger {
  color: #f44336;
}

p.auto-links a {
  font-size: 14px;
}
