// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  margin: 5px 10px 0 10px;
  display: flex;
}

.left {
  flex: 1;
}

.remove button {
  background-color: inherit;
  border: none;
}

.messages {
  border-bottom: 1px solid #8a6d3b;
}

.borders {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.left-icon {
  padding-top: 10px;
}

.message {
  position: relative;
  border: 1px solid #8a6d3b;
  border-bottom: none;
}

.time-stamp {
  font-style: italic;
}

.separate-main {
  margin-top: 25px;
}

.button_to {
  display: inline;
}

.pagination a {
  background-color: #fbf6ee;
  padding: 0 25px 0 25px;
}

#fa-triangle {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.msg-content {
  margin-left: 10px;
  padding-top: 5px;
}

#icons {
  margin-left: 10px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.row1 {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: none;
}

.row1:hover {
  background-color: LightYellow;
}

.row32:hover {
  background-color: LightYellow;
}

.edit-delete-buttons {
  display: none;
}

.row1:hover .edit-delete-buttons {
  display: block;
}

#active-link {
  border: dotted 1px #8a6d3b;
}

.fa-icon-success a {
  color: #4CAF50;

}

.fa-icon-info a {
  color: #2196F3;
}

.fa-icon-warning a {
  color: #ffeb3b;
}

.fa-icon-danger a {
  color: #f44336;
}

p.time-stamp {
  font-style: italic;
}
p.message-body a {
  color: #2875b6;
}
