<% content_for :title do %><%= (t'nav_links.about')%> | Conectate Carolina <% end %>
<div class="form-horizontal min-height">
  <h1 class="header-titles"> Conectate Carolina</h1>
  <p id="about-page"><%= (t'about_page.text')%> <a href="https://www.codethedream.org/">Code the Dream</a> &
  <a href="https://www.saf-unite.org/">Student Action
  with Farmworkers</a></p>
  <div class="logo-container">
    <%= link_to image_tag("CTDLogo.png", size: "425"), "https://www.codethedream.org/" %><br/>
    <%= link_to image_tag("SAFLogo1.png"), "https://www.saf-unite.org/" %>
  </div>
</div>
