<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; 
      <a href="http://www.codethedream.org/">
      App made by Fernando and Jorge from Code the Dream  
      </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', page_path('about') %></li>
        <li><%= link_to 'Search', search_path('search') %></li>
        <li><%= link_to "Agencies", agencies_path %></li>
      </ul>
    </nav>
  </footer>
</div>
