<div class="container">
    <%= render "app/#{ENV['APP_NAME']}/footer" %>
</div>
<div class="footer-copyright">
    <p>© 2017 Copyright</p>
    <p>.</p>
    <p><%= link_to (t'pages.privacy.h2'), pages_privacy_policy_path, class: "privacy" %></p>
    <p>.</p>
    <p> <%= link_to (t'pages.tac.h2'), pages_terms_and_conditions_path, class: "privacy" %></p>
</div>
