<div class="mobile-app-links">
  <h2>Get the App. It's Free</h2>
  <p>Start discovering new resources around <br/> you on the go right at your fingertips.</p>
  <div class="mobile-apps">
    <%= link_to image_tag("app-store.svg"), "#" %>
    <%= link_to image_tag("google-play.svg"), "#" %>
  </div>
</div>
