<div class="mobile-app-links">
  <h2><%= (t'mobile_page.h2') %></h2>

  <p><%= (t'mobile_page.p') %></p>

  <div class="mobile-apps">
    <%= render "app/#{ENV['APP_NAME']}/mobile_app" %>
  </div>
</div>
