<% if user_signed_in? %>
  <li><%= link_to (t'nav_links.edit_accnt'), edit_user_registration_path %></li>
  <li><%= link_to (t'nav_links.sign_out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to (t'nav_links.sign_in'), new_user_session_path %></li>
  <li><%= link_to (t'nav_links.sign_up'), new_user_registration_path %></li>
<% end %>
