<%# add navigation links to this file %>
<li><%= link_to (t'nav_links.about'), page_path('about') %></li>
<%# link_to 'Search', search_path('search') %>
<%# link_to "Agencies", agencies_path %>
<li><%= link_to_unless_current "English", locale: "en" %></li>
<li><%= link_to_unless_current "Español", locale: "es" %></li>