<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Search', search_path('search') %></li>
<li><%= link_to 'Organizations', "agencies#show"%></li>
